#contact {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 50px;
}

#contact span {
	padding: 5px 10px;
	color: beige;
	background-color: rgba(0, 0, 0, 0.6);
	font-family: 'Signika', sans-serif;
}

#contact span:not(:nth-of-type(2)) {
	font-size: 4rem;
	text-align: center;
	width: 100%;
}

#contact span:nth-of-type(2) {
	border-radius: 50px;
	font-size: 3rem;
}
